version = "1.0"

[main]
name = "Simplex configuration"
services = ["xftp"]

    [main.config]
    name = "Configuration Options"

        [main.config.storage_quota]
        ask = "File storage quota"
        type = "string"
        help = "File storage quota (e.g. 100gb)"
        bind = "storage_quota:/etc/opt/simplex-xftp/file-server.ini"
