packaging_format = 2

id = "simplex"
name = "SimpleX"
description.en = "Messaging platform operating without user identifiers"
description.fr = "Plate-forme de messagerie fonctionnant sans identifiants d'utilisateurs"

version = "6.4.1~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0"
website = "https://simplex.chat/"
admindoc = "https://github.com/simplex-chat/simplex-chat/blob/stable/docs/SERVER.md"
code = "https://github.com/simplex-chat/simplexmq"
cpe = "cpe:2.3:a:simplex:simplex_chat"
fund = "https://opencollective.com/simplex-chat"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]

[resources]

 [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.1/smp-server_amd64"
    amd64.sha256 = "da7fc90473b339fa83f3ad61b257c83e4a233f6ce5d5688fd0272be2751c8d36"
    arm64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.1/smp-server_arm64"
    arm64.sha256 = "c67d78fa3bc9c9e51e461990efdb2936ec0a4cedc3751a68d761df4255d1d004"
    in_subdir = false
    extract   = false
    rename    = "smp-server"

    [resources.sources.xftp]
    amd64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.1/xftp-server_amd64"
    amd64.sha256 = "8f07975a9132dbc34b709491bb99fb805e10d6b0a9e309a831c78522ea25c7e0"
    arm64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.1/xftp-server_arm64"
    arm64.sha256 = "955b12789aa2200f4ff17d31b30473b1da094f98a4319c815c343934edc8efd8"
    in_subdir = false
    extract   = false
    rename    = "xftp-server"

    [resources.ports]
    main.default = 5223
    main.exposed = "TCP"
    xftp.default = 5224
    xftp.exposed = "TCP"

    [resources.system_user]

    [resources.install_dir]
    dir = "/usr/local/bin/__APP__"

    [resources.data_dir]

    [resources.permissions]
