packaging_format = 2

id = "simplex"
name = "SimpleX"
description.en = "Messaging platform operating without user identifiers"
description.fr = "Plate-forme de messagerie fonctionnant sans identifiants d'utilisateurs"

version = "6.4.0.12~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0"
website = "https://simplex.chat/"
admindoc = "https://github.com/simplex-chat/simplex-chat/blob/stable/docs/SERVER.md"
code = "https://github.com/simplex-chat/simplexmq"
cpe = "cpe:2.3:a:simplex:simplex_chat"
fund = "https://opencollective.com/simplex-chat"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]

[resources]

 [resources.sources]
    [resources.sources.main]
    amd64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.0.12/smp-server_amd64"
    amd64.sha256 = "9c9400febffed9684be4fcc990a2834af14598f636b01cab44396082771629fd"
    arm64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.0.12/smp-server_arm64"
    arm64.sha256 = "7a667a7a2bf904f534015ec395fea758f345c72dce970a6c94061d46b682ede7"
    in_subdir = false
    extract   = false
    rename    = "smp-server"

    [resources.sources.xftp]
    amd64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.0.12/xftp-server_amd64"
    amd64.sha256 = "03e87ac756abceafca61f3d956ff4c8d1fb20eb99a5fe7aee4a7b36b212ed4ff"
    arm64.url = "https://github.com/YunoHost-Apps/simplex_ynh/releases/download/v6.4.0.12/xftp-server_arm64"
    arm64.sha256 = "a8deecc5525133902699841d5065889c2a8a365635b84f1385ddcd07cf2f86b9"
    in_subdir = false
    extract   = false
    rename    = "xftp-server"

    [resources.ports]
    main.default = 5223
    main.exposed = "TCP"
    xftp.default = 5224
    xftp.exposed = "TCP"

    [resources.system_user]

    [resources.install_dir]
    dir = "/usr/local/bin/__APP__"

    [resources.data_dir]

    [resources.permissions]
