[Unit]
Description=SimpleX: Messaging Protocol Server
Documentation=https://simplex.chat/docs/server.html

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=/usr/local/bin/__APP__/smp-server start
ExecStopPost=/usr/bin/env sh -c '[ -e "/var/opt/simplex/smp-server-store.log" ] && cp "/var/opt/simplex/smp-server-store.log" "/var/opt/simplex/smp-server-store.log.bak"'
KillSignal=SIGINT
TimeoutStopSec=infinity
Restart=always
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
